
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-default">

  <!-- Chat Tab -->
  <ion-tab title="Chat" icon="icon ion-chatbox-working" href="#/tab/chat">
    <ion-nav-view name="chat-tab"></ion-nav-view>
  </ion-tab>

  <!-- Maps Tab -->
  <ion-tab title="Maps" icon="icon ion-home" href="#/tab/maps">
    <ion-nav-view name="maps-tab"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="Viz" icon="icon ion-search" href="#/tab/viz">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>